__pycache__/app.cpython-312.pyc
__pycache__/models.cpython-312.pyc
algorithm/__pycache__/evolutionAlg.cpython-312.pyc
algorithm/__pycache__/ILP_functions.cpython-312.pyc
algorithm/__pycache__/ILP.cpython-312.pyc
